
# Secrets/Credential
expenses_credentials.json

# Distribution / packaging
.Python
data/**/*.csv
output/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Dependencies
node_modules/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log
npm-debug.log*
pnpm-debug.log*

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# Environments
.DS_Store
.env
.env.local
.env.*.local
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# PyPI configuration file
.pypirc

# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Test
coverage/
test-results/
.pytest_cache/
playwright-report/

# Storybook
storybook-static/

# Playwright
playwright/.cache
